## Retrieving data from the ADS

The :ref:`ads <data-sources-ads>` data source provides access to the `Copernicus Atmosphere Data Store (ADS) <https://ads.atmosphere.copernicus.eu>`_.

In [1]:
import earthkit.data as ekd

### Getting GRIB data

In [2]:
ds = ekd.from_source(
    "ads",
    "cams-global-reanalysis-eac4",
    variable=["particulate_matter_10um", "particulate_matter_1um"],
    area=[50, -50, 20, 50], #N,W,S,E 
    date="2012-05-10",
    time="12:00",
)

In [3]:
ds.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,pm10,surface,0,20120510,1200,0,an,0,regular_ll
1,ecmf,pm1,surface,0,20120510,1200,0,an,0,regular_ll

### Getting NetCDF data

In [4]:
ds1 = ekd.from_source(
    "ads",
    "cams-global-reanalysis-eac4",
    variable=["particulate_matter_10um", "particulate_matter_1um"],
    area=[50, -50, 20, 50], #N,W,S,E 
    date="2012-05-10",
    time="12:00",
    format="netcdf"
)

In [5]:
for f in ds1:
    print(f)

NetCDFField['pm10',[[time:0=1336651200000000000]]]
NetCDFField['pm1',[[time:0=1336651200000000000]]]