## Retrieving data from the CDS

The :ref:`cds <data-sources-cds>` data source provides access to the `Copernicus Climate Data Store (CDS) <https://cds.atmosphere.copernicus.eu>`_.

In [1]:
import earthkit.data as ekd

### Getting GRIB data

In [2]:
ds = ekd.from_source("cds", 
        "reanalysis-era5-single-levels",
        variable=["2t", "msl"],
        product_type="reanalysis",
        area=[50, -10, 40, 10], #N,W,S,E 
        grid=[2, 2],
        date="2012-05-10",
        time="12:00")

2025-03-10 15:06:27,897 INFO [2024-09-26T00:00:00] Watch our [Forum](https://forum.ecmwf.int/) for Announcements, news and other discussed topics.
2025-03-10 15:06:27,898 WARNING [2024-06-16T00:00:00] CDS API syntax is changed and some keys or parameter names may have also changed. To avoid requests failing, please use the "Show API request code" tool on the dataset Download Form to check you are using the correct syntax for your API request.

In [3]:
ds.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,2t,surface,0,20120510,1200,0,an,0,regular_ll
1,ecmf,msl,surface,0,20120510,1200,0,an,0,regular_ll

### Getting NetCDF data

In [4]:
ds1 = ekd.from_source("cds", 
        "reanalysis-era5-single-levels",
        variable=["2t", "msl"],
        product_type="reanalysis",
        area=[50, -10, 40, 10], #N,W,S,E 
        grid=[2, 2],
        date="2012-05-10",
        time="12:00",
        format="netcdf")

2025-03-10 15:06:28,771 INFO [2024-09-26T00:00:00] Watch our [Forum](https://forum.ecmwf.int/) for Announcements, news and other discussed topics.
2025-03-10 15:06:28,771 WARNING [2024-06-16T00:00:00] CDS API syntax is changed and some keys or parameter names may have also changed. To avoid requests failing, please use the "Show API request code" tool on the dataset Download Form to check you are using the correct syntax for your API request.

In [5]:
for f in ds1:
    print(f)

NetCDFField(t2m,valid_time=2012-05-10 12:00:00)
NetCDFField(msl,valid_time=2012-05-10 12:00:00)