## Retrieving ECMWF open data

In [1]:
import earthkit.data

In [2]:
ds = earthkit.data.from_source("ecmwf-open-data",  
        param=["t", "gh"],
        levelist="500",
        step=[0,6,12])

In [3]:
ds.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20230630,600,0,fc,None,regular_ll
1,ecmf,gh,isobaricInhPa,500,20230630,600,0,fc,None,regular_ll
2,ecmf,t,isobaricInhPa,500,20230630,600,6,fc,None,regular_ll
3,ecmf,gh,isobaricInhPa,500,20230630,600,6,fc,None,regular_ll
4,ecmf,t,isobaricInhPa,500,20230630,600,12,fc,None,regular_ll
5,ecmf,gh,isobaricInhPa,500,20230630,600,12,fc,None,regular_ll