## Retrieving ECMWF open data

The :ref:`ecmwf-open-data <data-sources-eod>` source provides access to the `ECMWF open data <https://www.ecmwf.int/en/forecasts/datasets/open-data>`_ .

In [1]:
import earthkit.data as ekd

In [2]:
ds = ekd.from_source("ecmwf-open-data",  
        param=["t", "gh"],
        levelist="500",
        step=[0, 24, 48]
       )

<multiple>:   0%|          | 0.00/2.82M [00:00<?, ?B/s]

In [3]:
ds.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20250310,600,0,fc,None,regular_ll
1,ecmf,gh,isobaricInhPa,500,20250310,600,0,fc,None,regular_ll
2,ecmf,t,isobaricInhPa,500,20250310,600,24,fc,None,regular_ll
3,ecmf,gh,isobaricInhPa,500,20250310,600,24,fc,None,regular_ll
4,ecmf,t,isobaricInhPa,500,20250310,600,48,fc,None,regular_ll
5,ecmf,gh,isobaricInhPa,500,20250310,600,48,fc,None,regular_ll