## GRIB: inspecting contents

We will work with a GRIB file containing 6 messages. First we ensure the example file is available, then read the file with :ref:`from_source() <data-sources-file>`.

In [1]:
import earthkit.data as ekd
ekd.download_example_file("test6.grib")

/Users/cgr/venv/dev/lib/python3.13/site-packages/array_api_compat/torch/_info.py:361: UserWarning: 'mkldnn' is no longer used as device type. So torch.device('mkldnn') will be deprecated and removed in the future. Please use other valid device types instead. (Triggered internally at /Users/runner/work/pytorch/pytorch/pytorch/c10/core/Device.cpp:42.)
  a = torch.empty((0,), device=torch.device(device_name, index=i))

In [2]:
ds = ekd.from_source("file", "test6.grib")

### Using head(), tail() and ls()

All these methods (:py:meth:`~data.readers.grib.index.GribFieldList.head`, :py:meth:`~data.readers.grib.index.GribFieldList.tail` and :py:meth:`~data.readers.grib.index.GribFieldList.ls`) take the same set of keyword arguments:

- n: number of messages to list
- keys: the metadata keys to dump
- extra_keys: extra keys of top of the default set of keys
- namespace: the namespace(s) to use

#### head()

:py:meth:`~data.readers.grib.index.GribFieldList.head` displays the first 5 messages by default:

In [3]:
ds.head()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
2,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
3,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
4,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None

The number of fields can be passed as an argument:

In [4]:
ds.head(2)

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [5]:
ds.head(n=2)

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

##### Keys and extra keys

We can use our own list of keys instead of the default ones.

In [6]:
ds.head(keys="base_datetime")

        base_datetime
0 2018-08-01 12:00:00
1 2018-08-01 12:00:00
2 2018-08-01 12:00:00
3 2018-08-01 12:00:00
4 2018-08-01 12:00:00

In [7]:
ds.head(keys=["base_datetime", "level"])

        base_datetime  level
0 2018-08-01 12:00:00   1000
1 2018-08-01 12:00:00   1000
2 2018-08-01 12:00:00   1000
3 2018-08-01 12:00:00    850
4 2018-08-01 12:00:00    850

The default list of keys can be extended:

In [8]:
ds.head(extra_keys="units")

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type,units
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None,K
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None,m s**-1
2,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None,m s**-1
3,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None,K
4,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None,m s**-1

##### Namespaces

The keys can be taken from an earthkit namespace:

In [9]:
ds.head(namespace="time")

        base_datetime      valid_datetime   step
0 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days
1 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days
2 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days
3 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days
4 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days

In [10]:
ds.head(namespace=["parameter", "time"])

        base_datetime      valid_datetime   step variable    units
0 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days        t        K
1 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days        u  m s**-1
2 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days        v  m s**-1
3 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days        t        K
4 2018-08-01 12:00:00 2018-08-01 12:00:00 0 days        u  m s**-1

It is possible to use any [ecCodes GRIB namespace](https://confluence.ecmwf.int/display/UDOC/What+are+namespaces+-+ecCodes+GRIB+FAQ):

In [22]:
ds.head(namespace="grib.ls")

,edition,centre,typeOfLevel,level,dataDate,stepRange,dataType,shortName,packingType,gridType
0,1,ecmf,isobaricInhPa,1000,20180801,0,an,t,grid_simple,regular_ll
1,1,ecmf,isobaricInhPa,1000,20180801,0,an,u,grid_simple,regular_ll
2,1,ecmf,isobaricInhPa,1000,20180801,0,an,v,grid_simple,regular_ll
3,1,ecmf,isobaricInhPa,850,20180801,0,an,t,grid_simple,regular_ll
4,1,ecmf,isobaricInhPa,850,20180801,0,an,u,grid_simple,regular_ll

#### tail()

:py:meth:`~data.readers.grib.index.GribFieldList.tail` displays the last 5 messages by default:

In [12]:
ds.tail(5)

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
2,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
3,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
4,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None

#### ls()

By default :py:meth:`~data.readers.grib.index.GribFieldList.ls` lists all the fields:

In [13]:
ds.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
2,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
3,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
4,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
5,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None

The number of fields to list can also be specified:

In [14]:
ds.ls(2)

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [15]:
ds.ls(-2)

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
1,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None

### Using describe

We can :py:meth:`~data.readers.grib.index.GribFieldList.describe` the whole object:

In [16]:
ds.describe()

We can also :py:meth:`~data.readers.grib.index.GribFieldList.describe` a given parameter (defined by shortName or paramId):

In [17]:
ds.describe("t")

In [18]:
ds.describe(131)

### Accessing metadata

:py:meth:`~data.readers.grib.index.GribFieldList.metadata` with positional arguments works for both for a :py:meth:`field <data.readers.grib.codes.GribField.metadata>` and a :py:meth:`fieldlist <data.readers.grib.index.GribFieldList.metadata>`. Key type qualifiers are allowed to be used.

In [19]:
ds.get("vertical_type")

['pressure', 'pressure', 'pressure', 'pressure', 'pressure', 'pressure']

In [20]:
ds[0].get(["level", "vertical_type"])

[1000, 'pressure']

For single fields the bracket operator can also be used:

In [23]:
ds[0].get(["grib.typeOfLevel", "grib.centre", "grib.centre"], astype=(None,str, int))

['isobaricInhPa', 'ecmf', 98]

Namespace keys can be fetched as a dict for single fields:

In [ ]:
ds[0].namespace("parameter")

### Inspecting all the namespace keys for a message

:py:meth:`~data.readers.grib.codes.GribField.dump` gives a tabbed interface to inspect the various namespaces:

In [ ]:
ds[0].dump()