## Reading multiple files

First we prepare the data.

In [1]:
import earthkit.data
earthkit.data.download_example_file(["test.grib", "test4.grib"])

In [2]:
!test -d _grib_dir_no_sql || (mkdir -p _grib_dir_no_sql; cp -f test.grib test4.grib _grib_dir_no_sql/)

Multiple GRIB files can be :ref:`read <data-sources-file>` in various ways:

### Option 1: using wildcards

In [3]:
fs = earthkit.data.from_source("file", "test*.grib")

In [4]:
len(fs)

12

In [5]:
fs

MultiFieldList(GRIBReader(test.grib),GRIBReader(test4.grib),GRIBReader(test6.grib))

### Option 2: using a list

In [6]:
fs = earthkit.data.from_source("file", ["test.grib", "test4.grib"])

In [7]:
len(fs)

6

In [8]:
fs

MultiFieldList(GRIBReader(test.grib),GRIBReader(test4.grib))

### Option 3: reading all files in a directory

In [9]:
fs = earthkit.data.from_source("file", "./_grib_dir_no_sql")

In [10]:
len(fs)

6

In [11]:
fs

MultiFieldList(GRIBReader(./_grib_dir_no_sql/test.grib),GRIBReader(./_grib_dir_no_sql/test4.grib))

### Working with the object

The resulting GRIB object behaves in the same way as if it was created from a single file:

In [12]:
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,2t,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
4,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
5,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

In [13]:
fs[2]

GribField(t,500,20070101,1200,0,0)

In [14]:
g = fs[1:6]
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
2,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
4,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

In [15]:
g = fs[3:6].sel(param="z").order_by("level")
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
1,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll