In [1]:
from earthkit.data import from_source

ds = from_source("file", "../../examples/tuv_pl.grib", stream=True, read_all=True)

In [2]:
type(ds)

earthkit.data.indexing.simple.SimpleFieldList

In [3]:
len(ds)

18

In [4]:
ds[0].valid_datetime

datetime.datetime(2018, 8, 1, 12, 0)

In [5]:
f = ds.sel(param="t")

In [6]:
f.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
2,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,700,None,None,None
3,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,500,None,None,None
4,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,400,None,None,None
5,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,300,None,None,None

In [7]:
ds.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
1,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
2,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None
3,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
4,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
5,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,850,None,None,None
6,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,700,None,None,None
7,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,700,None,None,None
8,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,700,None,None,None
9,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,500,None,None,None
10,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,500,None,None,None
11,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,500,None,None,None
12,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,400,None,None,None
13,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,400,None,None,None
14,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,400,None,None,None
15,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,300,None,None,None
16,u,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,300,None,None,None
17,v,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,300,None,None,None

In [10]:
ds.sel(level=500)

In [ ]:
# suppose level is an object 
# level.value # number
# level.type # object
ds.sel({"level.value": 500, "level.type.name": "pressure"})