## Maths

In [1]:
import earthkit.data as ekd
ds = ekd.from_source("file", "../../examples/tuv_pl.grib")

f = ds[0]

In [2]:
f1 = f + 1

In [3]:
f.values.max(), f1.values.max()

(np.float64(320.5641784667969), np.float64(321.5641784667969))

In [4]:
f.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [5]:
f1.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [6]:
type(f), type(f1)

(earthkit.data.core.field.Field, earthkit.data.core.field.Field)

In [7]:
# f1.to_target("file", "f1_plus1.grib", base_datetime=..., grib_shortName="q", metadata={"grib.shortName": "q"})
f1.to_target("file", "f1_plus1.grib")
ds1 = ekd.from_source("file", "f1_plus1.grib")
ds1[0].values.max()

np.float64(321.5641784667969)

In [8]:
ds1[0].ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,t,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [9]:
r = (f*9.81).set(variable="gh")

In [10]:
r.ls()

,variable,valid_datetime,base_datetime,step,level,level_type,number,grid_type
0,gh,2018-08-01 12:00:00,2018-08-01 12:00:00,0 days,1000,None,None,None

In [11]:
r.values.max()

np.float64(3144.7345907592776)